@{
    ViewData["Title"] = "Add Task";
}
<!DOCTYPE html>
<html>
<head>
 <title>Add Task</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Task_Manager_Application.styles.css" asp-append-version="true" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <div class="box">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</body>
</html>

